@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

:root {
    --primary-bg-color: rgb(122, 27, 201);
    --secondary-bg-color: rgb(101, 22, 165);
}

* {
    position: relative;
    box-sizing: border-box;
    margin: 0; 
    padding: 0;
    font-family: 'Urbanist', sans-serif;
}

nav {
    display: -webkit-box;
}

.nav{
    position: fixed;
    display: flex;
    height: max-content;
    background: var(--primary-bg-color);
    width: 100%;
    justify-content: center;
}

.nav-body {
    width: 100%;
    display: flex;
    padding: 1rem;
    max-width: 1200px;
    color: white;
    justify-content: space-between;
    align-items: center;
}

.nav-spacing{
    height: 66px;
}

.nav-header {
    font-size: 1.4rem;
}

.nav-header .logo{
    width: 40px;
}

.nav-header .logo img {
    border-radius: 50%;
    object-fit: cover;
    width: 100%;
}

.nav-tools .profile{ 
    display: flex;
    flex-direction: column;
}

.profile .id {
    color: #ccc;
    font-size: .8rem;
    align-self: flex-end;
}

.tool {
    display: flex;
    cursor: pointer;
    gap: .4rem;
}

.user-image {
    background-color: var(--secondary-bg-color);
    width: 32px;
    height: 32px; 
    border-radius: 50%;
    border: 1px solid white;
}



/* =================================================================
    Dashboard Styles
================================================================= */

.dashboard {
    display: flex;
    width: 100%;
    height: calc(100vh - 66px);  
    justify-content: center; 
    align-items: center;
}

.dashboard-tools {
    display: flex;
    height: max-content;
    flex-direction: column;
    box-shadow: 2px 0px 2px rgb(190, 190, 190);
    padding: 1.2rem 2rem;
}

.routes {
    display: flex;
    border: 1px solid var(--primary-bg-color);
}

.route {
    cursor: pointer;
    display: flex;
}

.route-link {
    text-decoration: none;
    color: inherit;
    padding: 1rem;
}

.route-link:hover, .route.active .route-link{
    background: var(--primary-bg-color);
    color: white;
}

.routeViewer {
    display: flex;
    flex-direction: column;
}

.view {
    padding: 1rem;
    display: none;
}

.container{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.data-group {
    display: flex;
    flex-direction: column;
    align-items: center;  
}

.form-group{
    display: flex;
    flex-direction: column;
    align-items: center;   
}

.form-group label {
    gap: 1rem;
    justify-content:center;
    align-items:center;  
    display: flex;
    flex-direction: column;
}

.form-group input, .form-group select{
    outline: none;
    display: block;
    padding: .4rem;
    border-radius: 6px;
    border: 1px solid #aaa;
}

.form-group button {
    background: var(--primary-bg-color);
    color: white;
    cursor: pointer;
    padding: .8rem 1rem;
    border: none;
}

.show-view {
    display: block;
}